@charset "utf-8";
@import url("./nanumbarungothic.css");

body {
    color: #343434;
    font-family: "Nanum Barun Gothic";
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}

/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px !important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 75px;
    left: 0;
}

#page-content.slide-active {
    padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    width: 30px;
    height: 40px;
    border: 0;
    background: transparent;
    /* (80px - button height 34px) / 2 = 23px */
    margin: 17px 0 0;
    padding: 7px 0px !important;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}

.navbar-header {
    position: relative
}

.navbar {
    min-height: 75px;
    margin-bottom: 0;
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

.navbar-brand {
    padding: 0 15px;
    height: 75px;
    line-height: 75px;
    font-size: 24px;
}

.navbar-custom {
    background: #F1F1F1 none;
    border-bottom: 1px solid #D2D2D2;
}

.navbar-nav {
    line-height: 45px;
}

/* checkbox style */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

input.form-control {
    height: 40px;
    border-radius: 0;
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .navbar-header .back {
        padding: 0;
        height: 75px;
        line-height: 75px;
        font-size: 24px;
    }

    #slide-nav .container {
        margin: 0;
        padding: 0 !important;
    }

    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }

    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }

    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }

    #slide-nav {
        border-top: 0
    }

    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }

    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }

    #slide-nav.navbar-inverse #navbar-height-col {
        background: #333;
        z-index: 1;
        border: 0;
    }
}

@media (min-width: 768px) {
    #page-content {
        left: 0 !important
    }

    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }

    .navbar-header {
        left: 0 !important
    }

    .navbar-header .back {
        display: none;
    }

    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 24px;
        padding-bottom: 24px;
        line-height: 27px;
    }
}

/* control */
.no-border {
    border: 0;
    box-shadow: none;
}

/* component - button */
.btn {
    font-size: 18px;
    min-width: 100px;
    line-height: 25px;
}

.btn-cancel {
    font-size: 18px;
    color: #fff;
    background-color: #686868;
    box-shadow: none;
    border: 1px solid 686868;
    border-radius: 0;
    padding: 5px 20px;
    font-weight: normal;
}

.btn-submit {
    color: #fff;
    background-color: #4f96d4;
    box-shadow: none;
    border: 1px solid #4f96d4;
    border-radius: 0;
    padding: 5px 20px;
    font-weight: normal;
}

/* 약관동의 */
.sub-header {
    font-weight: normal;
    border-bottom: 1px solid #D2D2D2;
    line-height: 1.5em;
    font-size: 22px;
    margin: 0;
    padding: 7px 10px 7px 15px;
    position: relative;
    color: #666666;
}

.sub-header .checkbox {
    display: inline-block;
    float: right;
    top: 5px;
    right: 0;
    margin: 0;
    font-size: 18px;
}

.sub-header .checkbox > label {
    padding: 0;
}

.sub-header .checkbox > label > span {
    margin: 0;
}

.sub-content {
    padding: 10px 0;
    border-bottom: 1px solid #D2D2D2;
}

.terms-area {
    padding: 10px;
    border: none;
    box-shadow: none;
    overflow-y: scroll;
    color: #9d9d9d;
}

.terms-area:focus {
    box-shadow: none;
}

.terms-area.h300 {
    min-height: 300px;
}

.terms-area.h200 {
    min-height: 200px;
}

.terms-area.h150 {
    min-height: 150px;
}

.terms-area[readonly] {
    background-color: #fff;
}

.terms-bottom {
    background-color: #D2D2D2;
    padding: .7em 0;
}

/* 사용자 정보 */
.user-info .row {
    border-bottom: 1px dotted gray;
    padding: 20px;
}

.user-info .row label {
    font-size: 22px;
    font-weight: normal;
    line-height: 40px;
    float: left;
    display: inline-flex;
    width: 120px;
}


.user-info .row:first-child {
    margin-top: 20px;
}

.user-info .row:last-child {
    border-bottom: none;
}

.s {display: flex}



.s .flex {
    display: inline-flex;
    flex-grow: 1;
}

.s .flex input {
    flex-grow: 1;
}

.s .flex button {
    margin-left: 10px;
    height: 40px;
}