@charset "utf-8";
@import url("./nanumbarungothic.css");

body {
    color: #545454;
    font-family: "Nanum Barun Gothic";
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}

label {
    color: #545454;
    font-weight: normal;
}

/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px !important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 75px;
    left: 0;
}

#page-content.slide-active {
    padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    width: 30px;
    height: 40px;
    border: 0;
    background: transparent;
    /* (80px - button height 34px) / 2 = 23px */
    margin: 17px 0 0;
    padding: 7px 0px !important;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}

.navbar-header {
    position: relative
}

.navbar {
    min-height: 75px;
    margin-bottom: 0;
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

.navbar-brand {
    padding: 0 15px;
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    font-weight: normal;
}

.navbar-custom {
    background: #F1F1F1 none;
    border-bottom: 1px solid #D2D2D2;
}

.navbar-nav {
    line-height: 45px;
}

/* checkbox style */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

input.form-control {
    height: 40px;
    border-radius: unset;
}

input.form-control[type=checkbox] {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .navbar-header .back, .navbar-header .expansion {
        padding: 0;
        height: 75px;
        line-height: 75px;
        font-size: 28px;
        min-width: 0;
    }

    .navbar-header .expansion {
        position: fixed;
        right: 15px;
    }

    #slide-nav .container {
        margin: 0;
        padding: 0 !important;
    }

    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }

    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }

    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }

    #slide-nav {
        border-top: 0
    }

    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }

    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }

    #slide-nav.navbar-inverse #navbar-height-col {
        background: #333;
        z-index: 1;
        border: 0;
    }
}

@media (min-width: 768px) {
    #page-content {
        left: 0 !important
    }

    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }

    .navbar-header {
        left: 0 !important
    }

    .navbar-header .back, .navbar-header .expansion {
        display: none;
    }

    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 24px;
        padding-bottom: 24px;
        line-height: 27px;
    }
}

/* control */
.no-border {
    border: 0;
    box-shadow: none;
}

/* component - button */
.btn {
    font-size: 18px;
    min-width: 100px;
    line-height: 25px;
}

.btn-cancel, .btn-submit {
    font-size: 18px;
    box-shadow: none;
    border-radius: unset;
    padding: 5px 20px;
    font-weight: normal;
}

.btn-cancel {
    color: #fff;
    background-color: #686868;
    border: 1px solid #686868;
}

.btn-submit {
    color: #fff;
    background-color: #4f96d4;
    border: 1px solid #4f96d4;
}

/* component - select */
select.form-control {
    border-radius: unset;
    font-size: 16px;
    width: auto;
    margin-left: 10px;
    height: 40px;
}

input.form-control {
    font-size: 16px;
}

/* component - panel */
.panel-content {
    padding: 35px 45px;
}

.panel-border {
    border-radius: 10px;
    border-color: #c0c0c0;
}

.panel-body {
    padding: 10px 0;
}

.panel-body .form-group {
    padding: 5px 50px;
    border-bottom: 1px dotted #d5d5d5;
    padding-bottom: 20px;
}

.panel-body .form-group > * {
    margin: 10px 0;
}

.panel-body .form-group > label {
    font-size: 18px;
    margin: 15px 0 0;
}

.panel-body .form-group:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

/* component - ble */
.row.ble {
    padding: 30px 20px;
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #b0b0b0;
    margin-top: 20px;
    display: flex;
}

.row.ble .l .lb {
    font-size: 22px;
    font-weight: normal;
    color: white;
    background-color: #4f96d6;
    border-radius: 6px;
    height: 120px;
    width: 120px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 118px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
}

.row.ble .lb > div {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    height: auto;
}

.row.ble .lb span {
    display: block;
}

.row.ble .lb span i {
    color: white;
    background-color: #256499;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
}

.row.ble .flex {
    display: inline-flex;
    flex-direction: column;
    padding: 5px 0;
    margin-left: 15px;
}

.row.ble .r1, .row.ble .r2 {
    padding: 1px 0;
}

.row.ble .r1 {
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
}

.row.ble .r2 {
    flex-grow: 1;
    align-items: flex-end;
    display: flex;
}

.row.ble .r1 input, .row.ble .r2 input {
    margin-right: 10px;
    width: 25%;
    line-height: 35px;
}

/* component - table */
.table-content-list {
    font-size: 16px;
}

.table-content-list thead > tr > th {
    background-color: #7aa9d7;
    height: 50px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border-left: 0;
    border-right: 0;
}

.table-content-list tbody > tr > td {
    height: 45px;
    color: #ffffff;
    vertical-align: middle;
}

.table-content-list tbody > tr:last-child {
    border-bottom: 1px solid #7aa9d7;
}

/* component - sufferer-list-item */
.sufferer-list-item {
    display: flex;
}

.sufferer-list-item .character {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.sufferer-list-item > .character > .photo {
    width: 122px;
    height: 122px;
    border: 1px solid #e7e7e7;
}

.sufferer-list-item > .character > .alarm {
    margin-top: 18px;
    text-align: center;
    font-size: 18px;
}

.sufferer-list-item > .character > .alarm > .number {
    font-weight: bold;
    color: #fd1970;
}

.sufferer-list-item > .character > .status {
    font-size: 18px;
    margin: 18px auto 0;
    padding: 6px;
    border-radius: 6px;
    line-height: 26px;
}

.sufferer-list-item .items {
    margin: 0 0 0 45px;
    padding: 0;
    flex-grow: 1;
}

.sufferer-list-item .items li {
    display: block;
    font-size: 22px;
    line-height: 44px;
    height: 45px;
    border-bottom: 1px solid #e1e1e1;
}

.sufferer-list-item .items li > .dt {
    padding-left: 30px;
    width: 100px;
    position: relative;
}

.sufferer-list-item .items li > .dt::before {
    content: "·";
    position: absolute;
    left: 10px;
    top: 0;
}

.sufferer-list-item .items li > .dt::after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

.sufferer-list-item .items li > .dd {
    margin-left: 30px;
    color: #7b7b7b;
}

/* component - sufferer-show */
.sufferer-show-item {
    display: flex;
}

.sufferer-show-item .character {
    display: flex;
    flex-direction: row;
}

.sufferer-show-item .character > .photo {
    width: 122px;
    height: 122px;
    border: 1px solid #e7e7e7;
}

.sufferer-show-item .items {
    margin: 0 0 0 50px;
    padding: 0;
    flex-grow: 1;
    list-style: none;
}

.sufferer-show-item .items li {
    display: block;
    font-size: 22px;
    line-height: 40px;
    height: 41px;
}

.sufferer-show-item .items li > .dt {
    position: relative;
    width: 55px;
}

.sufferer-show-item .items li > .dt::after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

.sufferer-show-item .items li > .dd {
    margin-left: 10px;
    color: #7b7b7b;
}

/* flow */
.align {
    display: flex;
}

.align > label {
    margin-bottom: 0;
}

.align .phone {
    width: 28%;
    margin-right: 10px;
}

.align.center {
    justify-content: center;
}

.align .flex {
    display: inline-flex;
    width: 50%;
}

.align .flex.w60 {
    width: 60%;
}

.align .flex.full {
    flex-grow: 1;
}

.align .flex input {
    flex-grow: 1;
}

.align .flex .phone {
    flex-shrink: 1;
    width: 1px; /* trick */
    margin-right: 10px;
}

.align .flex button {
    height: 40px;
}

.align .flex select {
    margin-left: 10px;
}

/* 약관동의 */
.sub-header {
    font-weight: normal;
    border-bottom: 1px solid #D2D2D2;
    line-height: 1.5em;
    font-size: 22px;
    margin: 0;
    padding: 7px 10px 7px 15px;
    position: relative;
    color: #545454;
}

.sub-header .checkbox {
    display: inline-block;
    float: right;
    top: 5px;
    right: 0;
    margin: 0;
    font-size: 18px;
}

.sub-header .checkbox > label {
    padding: 0;
}

.sub-header .checkbox > label > span {
    margin: 0;
}

.sub-content {
    padding: 10px 0;
    border-bottom: 1px solid #D2D2D2;
}

.terms-area {
    padding: 10px;
    border: none;
    box-shadow: none;
    overflow-y: scroll;
    color: #9d9d9d;
}

.terms-area:focus {
    box-shadow: none;
}

.terms-area.h300 {
    min-height: 300px;
}

.terms-area.h200 {
    min-height: 200px;
}

.terms-area.h150 {
    min-height: 150px;
}

.terms-area[readonly] {
    background-color: #fff;
}

.terms-bottom {
    background-color: #D2D2D2;
    padding: .7em 0;
}

/* 사용자 정보 */
.user-info .row {
    border-bottom: 1px dotted #d3d3d3;
    padding: 20px;
}

.user-info .row label {
    font-size: 22px;
    font-weight: normal;
    line-height: 40px;
    float: left;
    display: inline-flex;
    width: 135px;
}

.user-info .row:first-child {
    margin-top: 20px;
}

.user-info .row:last-child {
    border-bottom: none;
}

/* 인증*/
.verify .row {
    border-bottom: 1px solid gray;
}

.verify .row:last-child {
    border-bottom: none;
}

.verify .form-group:first-child {
    border-bottom: 1px dotted #d5d5d5;
}

/* 환자등록 */
.sufferer .row {
    border-bottom: 1px dotted #d3d3d3;
    padding: 20px;
}

.sufferer .row label {
    font-size: 22px;
    font-weight: normal;
    line-height: 40px;
    float: left;
    display: inline-flex;
    width: 135px;
}

.sufferer .row:first-child {
    margin-top: 20px;
}

.sufferer .row:last-child {
    border-bottom: none;
}

.sufferer .radio-inline {
    padding-left: 35px;
    width: auto !important;
}

.sufferer .radio-inline + .radio-inline {
    margin-left: 20px;
}

.sufferer .radio-inline [type=radio] {
    margin: 7px 0 0 -35px;
    height: 25px;
    width: 25px;
}

.sufferer-list .row {
    border-bottom: 2px solid #b0b0b0;
    padding: 45px 50px;
}

/*  */
.sufferer-show .row {
    padding: 30px 40px;
    border-bottom: 1px solid #cacaca;
}

.sufferer-show .row:last-child {
    border-bottom: none;
}

.sufferer-show-info .items {
     list-style: none;
     padding: 0;
 }

.sufferer-show-info .items li {
}

.sufferer-show-info .items li a {
    display: block;
    padding-left: 110px;
    font-size: 22px;
    line-height: 62px;
    position: relative;
    color: #d3d3d3;
    text-decoration: none;
}

.sufferer-show-info .items li a::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../images/icon_sufferer_items.jpg") no-repeat 0 0;
    height: 62px;
    width: 62px;
}
