@charset "utf-8";
@import url("./nanumbarungothic.css");

body {
    color: #545454;
    font-family: "Nanum Barun Gothic";
}

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}

label {
    color: #545454;
    font-weight: normal;
}

.mt20 {
    margin-top: 20px;
}

/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px !important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content {
    position: relative;
    padding-top: 50px;
    left: 0;
}

#page-content.slide-active {
    padding-top: 0
}

/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    width: 25px;
    /* height: 40px; */
    border: 0;
    background: transparent;
    margin: 0;
    padding: 7px 0px !important;
}

/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}

.navbar-header {
    position: relative
}

.navbar {
    min-height: 34pt;
    margin-bottom: 0;
}

/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}

.navbar-brand {
    padding: 0 8pt;
    height: 34pt;
    line-height: 34pt;
    font-size: 14pt;
    font-weight: normal;
}

.navbar-custom {
    background: #F1F1F1 none;
    border-bottom: 1px solid #D2D2D2;
}

.navbar-nav {
    line-height: 45px;
}

/* checkbox style */
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

input.form-control {
    height: 20pt;
    border-radius: unset;
    font-size: 27px;
}

input.form-control[type=checkbox] {
    width: 11pt;
    height: 11pt;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width: 767px) {
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }

    .navbar-header {
        position: relative;
    }

    .navbar-header .back, .navbar-header .expansion {
        padding: 7px 0px !important;
        min-width: 0;
        font-size: 14pt;
    }

    .navbar-header .expansion {
        position: absolute;
        right: 15px;
        line-height: 21pt;
    }

    #slide-nav .container {
        margin: 4px 0 0;
        padding: 0 !important;
    }

    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
        height: 46px;
    }

    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }

    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }

    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }

    #slide-nav {
        border-top: 0
    }

    #slide-nav.navbar-inverse #slidemenu {
        background: #333
    }

    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }

    #slide-nav.navbar-inverse #navbar-height-col {
        background: #333;
        z-index: 1;
        border: 0;
    }
}

@media (min-width: 768px) {
    #page-content {
        left: 0 !important
    }

    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }

    .navbar-header {
        left: 0 !important
    }

    .navbar-header .back, .navbar-header .expansion {
        display: none;
    }

    .navbar-nav > li > a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 24px;
        padding-bottom: 24px;
        line-height: 27px;
    }
}

/* modal */
.modal-dialog {
    margin-top: 100px;
}

.modal-header {
    text-align: center;
    border-bottom: 1px solid #64abb1;
}

.modal-header .modal-title {
    font-weight: bold;
    font-size: 18pt;
}

/* control */
.no-border {
    border: 0;
    box-shadow: none;
}

/* component - button */
.btn {
    font-size: 11pt;
    min-width: 80px;
    line-height: 21px;
}

.btn-cancel, .btn-submit {
    font-size: 10pt;
    box-shadow: none;
    border-radius: unset;
    padding: 2px 10px;
    font-weight: normal;
}

.btn-cancel {
    color: #fff;
    background-color: #686868;
    border: 1px solid #686868;
}

.btn-submit {
    color: #fff;
    background-color: #4f96d4;
    border: 1px solid #4f96d4;
}

/* component - select */
select.form-control {
    border-radius: unset;
    font-size: 10pt;
    width: auto;
    margin-left: 10px;
    height: 20pt;
}

input.form-control {
    font-size: 10pt;
}

/* component - panel */
.panel-content {
    padding: 0 25pt;
}

.panel-border {
    border-radius: 10px;
    border-color: #c0c0c0;
}

.panel-body {
    padding: 10px 0;
}

.panel-body .form-group {
    padding: 0 15pt 10pt;
    border-bottom: 1px dotted #d5d5d5;
}

.panel-body .form-group > * {
    margin: 5px 0;
}

.panel-body .form-group > label {
    font-size: 11pt;
    margin: 15px 0 0;
}

.panel-body .form-group:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

/* component - ble */
.row.ble {
    padding: 30px 20px;
    border-bottom: 1px solid #b0b0b0;
    border-top: 1px solid #b0b0b0;
    margin-top: 5px;
    display: flex;
}

.row.ble .l .lb {
    font-size: 11pt;
    font-weight: normal;
    color: white;
    background-color: #4f96d6;
    border-radius: 6px;
    height: 80px;
    width: 80px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 118px;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
    display: inline-block;
}

.row.ble .lb > div {
    display: inline-block;
    line-height: 21px;
    height: 80px;
}

.row.ble .lb span {
    display: block;
}

.row.ble .lb span i {
    color: white;
    background-color: #256499;
    border-radius: 50%;
    width: 11pt;
    height: 11pt;
    line-height: 11pt;
    font-size: 7pt;
}

.row.ble .flex {
    display: inline-flex;
    flex-direction: column;
    padding: 5px 0;
    margin-left: 15px;
}

.row.ble .r1, .row.ble .r2 {
    padding: 1px 0;
}

.row.ble .r1 {
    flex-grow: 1;
    align-items: flex-start;
    display: flex;
}

.row.ble .r2 {
    flex-grow: 1;
    align-items: flex-end;
    display: flex;
}

.row.ble .r1 input, .row.ble .r2 input {
    margin-right: 10px;
    width: 25%;
    line-height: 35px;
}

/* component - table */
.table-content-list {
    font-size: 10pt;
}

.table-content-list thead > tr > th {
    background-color: #7aa9d7;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border-left: 0;
    border-right: 0;
}

.table-content-list tbody > tr > td {
    color: #ffffff;
    vertical-align: middle;
}

.table-content-list tbody > tr:last-child {
    border-bottom: 1px solid #7aa9d7;
}

/* component - sufferer-list-item */
.sufferer-list-item {
    display: flex;
}

.sufferer-list-item .character {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.sufferer-list-item > .character > .photo {
    width: 90px;
    height: 90px;
    border: 1px solid #e7e7e7;
}

.sufferer-list-item > .character > .alarm {
    margin-top: 1em;
    text-align: center;
    font-size: 11pt;
}

.sufferer-list-item > .character > .alarm > .number {
    font-weight: bold;
    color: #fd1970;
}

.sufferer-list-item > .character > .status {
    font-size: 11pt;
    margin: 1em auto 0;
    padding: 0px 5px;
    border-radius: 5px;
    line-height: 21pt;
}

.sufferer-list-item .items {
    margin: 0 0 0 1.5em;
    padding: 0;
    flex-grow: 1;
}

.sufferer-list-item .items li {
    display: block;
    font-size: 11pt;
    line-height: 25pt;
    height: 25pt;
    border-bottom: 1px solid #e1e1e1;
}

.sufferer-list-item .items li > .dt {
    padding-left: 1.5em;
    width: 5em;
    position: relative;
}

.sufferer-list-item .items li > .dt::before {
    content: "·";
    position: absolute;
    left: 10px;
    top: 0;
}

.sufferer-list-item .items li > .dt::after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

.sufferer-list-item .items li > .dd {
    margin-left: 1.1em;
    color: #7b7b7b;
}

/* component - sufferer-show */
.sufferer-show-item {
    display: flex;
}

.sufferer-show-item .character {
    display: flex;
    flex-direction: row;
}

.sufferer-show-item .character > .photo {
    width: 90px;
    height: 90px;
    border: 1px solid #e7e7e7;
}

.sufferer-show-item .items {
    margin: 0 0 0 1.5em;
    padding: 0;
    flex-grow: 1;
    list-style: none;
}

.sufferer-show-item .items li {
    display: block;
    font-size: 11pt;
    line-height: 21pt;
    height: 21pt;
}

.sufferer-show-item .items li > .dt {
    position: relative;
    width: 3em;
}

.sufferer-show-item .items li > .dt::after {
    content: ":";
    position: absolute;
    right: 0;
    top: 0;
}

.sufferer-show-item .items li > .dd {
    margin-left: 10px;
    color: #7b7b7b;
}

.sufferer-info-item {
    display: flex;
}

.sufferer-info-item .radio-inline + .radio-inline {
    margin-left: 20px;
}

.sufferer-info-item .radio-inline {
    padding-left: 20px;
    width: auto !important;
    line-height: 27px;
    font-size: 11pt;
}

.sufferer-info-item .character {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sufferer-info-item .character > .photo {
    width: 90px;
    height: 90px;
    border: 1px solid #e7e7e7;
}

.sufferer-info-item .items {
    margin: 0 0 0 20px;
    padding: 0;
    flex-grow: 1;
    list-style: none;
}

.sufferer-info-item .items li {
    display: flex;
    font-size: 22px;
    line-height: 21pt;
    height: 21pt;
    align-items: center;
    align-content: center;
    margin-top: 5px;
}

.sufferer-info-item .items li > .dt {
    position: relative;
    width: 2em;
    line-height: 21pt;
    height: 21pt;
    margin-bottom: 0;
    font-size: 11pt;
}

.sufferer-info-item .items li > .dd {
    margin-left: 10px;
    color: #7b7b7b;
    width: 70%;
}

/* flow */
.align {
    display: flex;
}

.align > label {
    margin-bottom: 0;
    font-size: 11pt;
    font-weight: normal;
    line-height: 27px;
    float: left;
    display: inline-flex;
    width: 95px;
}

.align .phone {
    width: 28%;
    margin-right: 10px;
}

.align.center {
    justify-content: center;
}

.align .flex {
    display: inline-flex;
    width: 50%;
}

.align .flex.w60 {
    width: 60%;
}

.align .flex.full {
    flex-grow: 1;
}

.align .flex input {
    flex-grow: 1;
}

.align .flex .phone {
    flex-shrink: 1;
    width: 1px; /* trick */
    margin-right: 10px;
}

.align .flex button {
    height: 20pt;
}

.align .flex select {
    margin-left: 5px;
}

/* 메인 */
.index {
    position: relative;
    height: 100%;
    background: url("../images/bg_main.jpg") no-repeat center fixed;
    background-size: cover;
}

.index .row {
    position: relative;
    margin: 0;
}

.index .row.title {
    /*margin-top: 35%;*/
    font-size: 21pt;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    top: 10%;
}

.index .row.user {
    text-align: center;
    /*margin-top: 25%;*/
    top: 23%;
}

.index .row.user > .common {
    margin-left: 10%;
}

.index .row.ci {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5%;
}

/* 로그인 */
.login {
    position: relative;
    height: 100%;
    background: url("../images/bg_login.jpg") no-repeat center fixed;
    background-size: cover;
}

.login .row {
    margin: 0;
}

.login .row.title {
    top: 10%;
    font-size: 27pt;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    position: relative;
}

.login .login-form {
    top: 10%;
    position: relative;
}

.login .row.control {
    padding: 0 25px;
    border: 0;
    box-shadow: none;
}

.login .row.control > .user-id,
.login .row.control > .user-pwd {
    height: 26pt;
    font-size: 17px;
    border: none;
    border-radius: 13pt;
    padding: 4pt 15pt;
}

.login .row.control > .user-id {
    margin-top: 20px;
}

.login .row.control > .user-pwd {
    margin-top: 15px;
}

.login .row.control .options {
    margin-top: 25px;
    font-size: 9pt;
}

@media (max-width: 320px) {
    .login .row.control .options {
        font-size: 7pt;
    }
}

.login .row.control .options .checkbox {
    display: inline-block;
    margin: 0;
}

.login .row.control .options .checkbox > label {
    color: #ffffff;
    font-weight: 100;
}

.login .row.control .options .checkbox > label .cr {
    border-color: #ffffff;
    border-radius: 0;
}

.login .row.control .options .links {
    float: right;
    white-space: nowrap;
}

.login .row.control .options .links a {
    color: #ffffff;
    margin: 0 20px;
    font-weight: 100;
    position: relative;
}

.login .row.control .options .links a.password::before {
    content: "|";
    position: absolute;
    left: -25px;
}

.login .row.buttons {
    margin-top: 10%;
    text-align: center;
    padding: 0 25px;
}

.login .row.buttons > * {
    display: block;
    width: 100%;
    height: 26pt;
    font-size: 12pt;
    border: none;
    border-radius: 13pt;
    line-height: 26pt;
    padding: 0;
}

.login .row.buttons > .success {
    background-color: #3e6f9b;
    color: #ffffff;
}

.login .row.buttons > .to {
    margin-top: 15px;
    background-color: #ffffff;
    color: #0f0f0f;
}

.login .row.buttons > .to > i {
    font-size: 12pt;
    color: #3e6f9b;
    margin-left: 5px;
    vertical-align: middle;
    top: -1px;
}

.login .row.ci {
    text-align: center;
    position: relative;
    bottom: 5%;
    width: 100%;
    margin-top: 60%;
}

@media (min-width: 450px) {
    .login .row.ci {
        position: relative;
        top: 20%;
    }
}

/* 마이페이지 */
.my-page {
    background: url("../images/bg_my_page.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-page .row {
    margin: 0;
    padding: 0;
}

.my-page .row.header {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.my-page .row.header > .welcome {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

.my-page .row.header > .info {
    font-size: 14pt;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    color: #ffffff;
}

.my-page .row.content {
    flex-grow: 3;
    background-color: #dfeff9;
    position: relative;
}

.my-page .row.content::before {
    content: "";
    background: url("../images/ico_my_page.png") no-repeat;
    width: 106px;
    height: 106px;
    position: absolute;
    background-size: cover;
    background-origin: border-box;
    left: 50%;
    top: 0;
    transform: translate(-50%, -75%);
}

.my-page .row.content > .links {
    position: absolute;
    top: 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 450px) {
    .my-page .row.content > .links {
        flex-wrap: nowrap;
    }
}

.my-page .row.content > .links > a {
    display: inline-block;
    padding: 5px 21px;
    text-align: center;
}

.my-page .row.content > .links > a > img {
    display: block;
}

.my-page .row.content > .links > a > label {
    font-size: 12pt;
    color: #5da6d9;
    font-weight: 700;
}

.my-page .row.ci {
    text-align: center;
    position: absolute;
    bottom: 5%;
    width: 100%;
    background-color: #dfeff9;
}

@media (min-width: 450px) {
    .my-page .row.ci {
        position: absolute;
        bottom: 10%;
    }
}

/* 약관동의 */
.sub-header {
    font-weight: normal;
    border-bottom: 1px solid #D2D2D2;
    line-height: 1.5em;
    font-size: 13pt;
    margin: 0;
    padding: 7px 10px 7px 15px;
    position: relative;
    color: #545454;
}

.sub-header .checkbox {
    display: inline-block;
    float: right;
    top: 5px;
    right: 0;
    margin: 0;
    font-size: 18px;
}

.sub-header .checkbox > label {
    padding: 0;
}

.sub-header .checkbox > label > span {
    margin: 0;
}

.sub-content {
    padding: 10px 0;
    border-bottom: 1px solid #D2D2D2;
}

.terms-area {
    padding: 10px;
    border: none;
    box-shadow: none;
    overflow-y: scroll;
    color: #9d9d9d;
}

.terms-area:focus {
    box-shadow: none;
}

.terms-area.h300 {
    min-height: 300px;
}

.terms-area.h200 {
    min-height: 200px;
}

.terms-area.h150 {
    min-height: 150px;
}

.terms-area[readonly] {
    background-color: #fff;
}

.terms-bottom {
    background-color: #D2D2D2;
    padding: .7em 0;
}

/* 사용자 정보 */
.user-info .row {
    border-bottom: 1px dotted #d3d3d3;
    padding: 10px 20px;
}

.user-info .row label {
    font-size: 11pt;
    font-weight: normal;
    line-height: 21pt;
    float: left;
    display: inline-flex;
    width: 6.5em;
}

.user-info .row:first-child {
    margin-top: 10px;
}

.user-info .row:last-child {
    border-bottom: none;
}

/* 인증*/
.verify .row {
    border-bottom: 1px solid gray;
}

.verify .row.panel-content {
    padding: 1.5em 2em;
}

.verify .row:last-child {
    border-bottom: none;
}

.verify .form-group:first-child {
    border-bottom: 1px dotted #d5d5d5;
}

/* 환자등록 */
.sufferer .row {
    border-bottom: 1px dotted #d3d3d3;
    padding: 10px 20px;
}

.sufferer .row:last-child {
    border-bottom: none;
}

.sufferer .radio-inline {
    padding-left: 20px;
    width: auto !important;
    line-height: 27px;
    font-size: 11pt;
}

.sufferer .radio-inline + .radio-inline {
    margin-left: 20px;
}

.sufferer .radio-inline [type=radio] {
    margin: 5px 0 0 -20px;
    height: 11pt;
    width: 11pt;
    line-height: 27px;
}

.sufferer-list .row {
    border-bottom: 2px solid #b0b0b0;
    padding: 20px;
}

/* 환자 상세정보 */
.sufferer-show .row {
    padding: 20px;
    border-bottom: 1px solid #cacaca;
}

.sufferer-show .row:last-child {
    border-bottom: none;
}

.sufferer-show-info .items {
    list-style: none;
    padding: 0 10px;
}

.sufferer-show-info .items li a {
    display: block;
    padding-left: 5em;
    font-size: 11pt;
    line-height: 33pt;
    position: relative;
    color: #545454;
    text-decoration: none;
}

.sufferer-show-info .items li a::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    background: url("../images/icon_sufferer_items.jpg") no-repeat 0 0;
    height: 31px;
    width: 31px;
}

.sufferer-show-info .items li.user a::before {
    background-position-x: -124px;
}

.sufferer-show-info .items li.ble a::before {
    background-position-x: -93px;
}

.sufferer-show-info .items li.diaper a::before {
    background-position-x: -62px;
}

.sufferer-show-info .items li.prediction a::before {
    background-position-x: -31px;
}

.sufferer-show-info .items li.record a::before {
    background-position-x: 0;
}

/* 환자 정보보기 */
.sufferer-info .row {
    padding: 10px 20px;
    border-bottom: 1px solid #cacaca;
}

.sufferer-info .group {
    padding: 20px 0;
}

.sufferer-info .group > .row {
    padding: 10px 20px;
    border-bottom: 1px dotted #d3d3d3;
}

.sufferer-info .row.ble {
    margin-top: 0;
}

/* 환자 - 환자 BEL */

.sufferer-info-bel .lists {
    padding: 10px 20px;
}

.sufferer-info-bel .lists > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sufferer-info-bel .lists > ul > li {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dotted #d3d3d3;
    align-content: center;
}

.sufferer-info-bel .lists > ul > li:last-child {
    border-bottom: 1px solid #64abb1;
}

.sufferer-info-bel .lists > ul > li .number {
    width: 3em;
    text-align: center;
}

.sufferer-info-bel .lists > ul > li .name {
    flex-grow: 1;
    margin-left: 20px;
}

.sufferer-info-bel .lists > ul > li .buttons > .btn {
    font-size: 6pt;
    padding: 2px 5px !important;
    min-width: 0;
    line-height: normal;
}

.sufferer-info-bel .lists > ul li > span {
    font-size: 11pt;
}

.sufferer-info-bel-dialog .align {
    padding: 1.2em 0;
    justify-content: center;
}

.sufferer-info-bel-dialog .align label {
    width: 4em;
}

.sufferer-info-bel-dialog .modal-footer {
    text-align: center;
}

.gateway .items {
    list-style: none;
    padding: 0 10px;
}

.gateway .items li {
    font-size: 11pt;
    padding: 10pt 5pt;
    border-bottom: 1px solid #d3d3d3;
}

.gateway .items li:last-child {
    border-bottom: 2px solid #cacaca;
}

.gateway .items input.form-control[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5pt;
}